$green: rgb(17, 184, 150);
$darkgreen: rgb(11, 145, 118);
$lightgreen: rgb(78, 211, 184);
$grey: rgb(245, 246, 247);

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

section {
    @include flex;
    flex-direction: column;
}

.container {
    @include flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5%;
}

h1 {
    color: white;
    font-size: 38px;
}
h2 {
    color: $green;
    font-size: 20px;
    margin-bottom: 25px;
}
h3 {
    font-size: 14px;
}

p {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    letter-spacing: 1px;
}

button {
    height: 48px;
    padding: 15px 30px;
    color: white;
    background: $green;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    transition: 0.15s;
    &:hover {
        color: darkslategray;
        background: $lightgreen;
    }
}

.get-started, .gallery, .download {
    background: $grey;
}

.hero {
    background: url("https://images.pexels.com/photos/32237/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb") center/cover;
    color: white;
    height: 100vh;
    nav {
    max-width: 800px;
        ul {
            padding: 0;
            display: flex;
            list-style-type: none;
            li {
                padding: 3vh 40px;
                a {
                    text-decoration: none;
                    color: white;
                    position: relative;
                    top: 30px;
                    font-weight: 700;
                    transition: 0.1s;
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
    }
    div:first-of-type {
        @include flex;
        flex-direction: column;
        h1 {
            margin-bottom: 12px;
        }
        p {
            margin-top: 0;
            letter-spacing: 2px;
            font-size: 18px;
        }
    }
    div:last-of-type {
        @include flex;
        padding-bottom: 25px;
        width: 200px;
        i {
            transition: 0.2s;
            font-size: 30px;
            position: relative;
            &:hover {
                color: $lightgreen;
                bottom: 2px;
            }
        }
    }
}

.design {
    img {
        padding-right: 30%;
    }
    .text {
        button {
            margin-bottom: 20px;
        }
        .slide-nav {
            p {
              font-size: 12px;
              margin-bottom: 0;
              font-weight: 700;
            }

        }
    }
}

.slide-nav {
    i {
        font-weight: 700;
        font-size: 26px;
        cursor: pointer;
        &:last-of-type {
            padding-left: 10px;
        }
    }
}

.gallery {
    .container {
        padding-bottom: 8%;
        flex-direction: column;
        .slide-nav {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
        .photos {
            @include flex;
            flex-direction: row;
            div:first-of-type {
                @include flex;
                flex-direction: column;
                max-width: 24%;
                padding-right: 40px;
                text-align: center;
                p {
                    font-size: 12px;
                    margin-top: 0;
                }
            }
            .single-photo {
                padding-left: 30px;
                overflow: hidden;
                height: 219px;
            }
        }
    }
}

.subscribe {
    @include flex;
    justify-content: center;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1516839570361-6fa29f2e781e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7b113949008add689cda6082faa264e3&auto=format&fit=crop&w=750&q=80') center/cover;
    .input {
        position: relative;
        input {
            @extend button;
            color: black;
            background: white;
            width: 350px;
            cursor: initial;
        }
        i {
            position: absolute;
            right: 0px;
            bottom: 0;
            padding: 0 7px;
            line-height: 48px;
            font-size: 30px;
            color: white;
            background: $green;
            border-radius: 0 4px 4px 0;
        }
    }
}

.download {
    .container {
        padding-bottom: 8%;
        max-width: 800px;
        flex-direction: column;
        h2 {
            color: black;
            margin-bottom: 18px;
        }
        p {
            margin-top: 0;
            text-align: center;
            text-transform: uppercase;
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            button {
                margin: 20px;
                width: 250px;
                text-align: left;
                position: relative;
                i {
                    display: block;
                    height: 48px;
                    width: 50px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 30px;
                    background: $darkgreen;
                    border-radius: 0 4px 4px 0;
                    &:before {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                    }

                }
            }
        }
    }
}

footer {
    .container {
        padding: 20px 0;
        p {
            font-weight: 700;
        }
        h3 {
            display: inline-block;
            padding: 0 10px;
            border-right: 1px solid $green;
            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
            border: none;
            }
            &:hover {
                color: $darkgreen;
            }
        }
    }
}

